:root {

  body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 10px auto;
    max-width: 650px;
  }

  #maincontent {
    max-width: 42em;
    margin: 15 auto;

  }

  label {
    /* make text not selectable to prevent selection when clicking a checkbox label */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div {
    padding-top: 5px;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
